@model NHS.Common.clsMedicalExaminerDecision
@{
    ViewBag.Title = "Medical Examiner Decision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row form-group">
        <div class="col-xs-12 col-lg-12">
            <div class="row" align="right">
                <div class="col-md-12">
                    <input type="image" src="~/images/Delete.png" width="30" height="30" alt="Submit" id="btnClose3" title="Close" />
                </div>
            </div>
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="disabled">
                    <a href='@Url.Action("PatientDetails", "home", new { id=Model.ID })'>
                        <h4 class="list-group-item-heading">
                            Patient details
                        </h4>
                    </a>

                </li>
                <li class="disabled">
                    <a href='@Url.Action("MedicalExaminerReview", "home", new { id=Model.ID })'>
                        <h4 class="list-group-item-heading">
                            Medical Examiner Review
                        </h4>
                    </a>
                </li>
                <li class="active">
                    <a href='@Url.Action("MedicalExaminerDecision", "home", new { id = Model.ID})'>
                        <h4 class="list-group-item-heading">
                            Medical Examiner Decision
                        </h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href='@Url.Action("SJRAssessmentTriage", "home", new { id = Model.ID})'>
                        <h4 class="list-group-item-heading">
                            SJR Assessment Triage
                        </h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href='@Url.Action("OtherReferrals", "home", new { id = Model.ID})'>
                        <h4 class="list-group-item-heading">
                            Other Referrals
                        </h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href='@Url.Action("PositiveFeedback", "home", new { id = Model.ID})'>
                        <h4 class="list-group-item-heading">
                            Positive Feedback
                        </h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        @using (Html.BeginForm("MedicalExaminerDecision", "Home", FormMethod.Post, new { @id = "my_form" }))
        {
            AntiForgeryConfig.SuppressXFrameOptionsHeader = true;
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-xs-12 col-lg-12">
                @*<form action="/Home/MedExamFormStep3" method="post" id="frmMedExamFormStep3">*@
                <div class="col-md-12 well">
                    <div class="form-section">
                        <div class="lable_title">
                            <h2>MEDICAL EXAMINER DECISION</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row_bar checkbox-row">
                                    @if (Model.MCCDissue == true)
                                    {
                                        <input type="checkbox" id="IssueMCCD" checked name="IssueMCCD"><span> Issue MCCD </span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="IssueMCCD" name="IssueMCCD"><span> Issue MCCD </span>
                                    }
                                    <input type="hidden" height="0" width="0" name="reasonid" id="reasonid" value="@Model.CoronerReferralReasonID" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row_bar">
                                    Reason for coroner referral
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row_bar checkbox-row">
                                    @if (Model.CoronerReferral == true)
                                    {
                                        <input type="checkbox" id="CoronerReferral" checked name="CoronerReferral"><span> Coroner Referral </span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="CoronerReferral" name="CoronerReferral"><span> Coroner Referral </span>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row_bar">

                                    <select class="form-control" id="ddlCoronerReferralGrp" name="ddlCoronerReferralGrp">
                                        <option value="">
                                            Select Group
                                        </option>
                                        @if (ViewBag.ReasonGroups != null)
                                        {
                                            foreach (var item in ViewBag.ReasonGroups)
                                            {
                                                if (item.GroupID == Model.ReasonGroupID)
                                                {
                                                    <option selected value="@item.GroupID">@item.GroupName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.GroupID">@item.GroupName</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row_bar">

                                    <select class="form-control" id="ddlCoronerReferral" name="ddlCoronerReferral">
                                        <option value="">
                                            Select Referral Reason
                                        </option>
                                        @*if (ViewBag.CoronerReferralReasons != null)
                                        {
                                            foreach (var item in ViewBag.CoronerReferralReasons)
                                            {
                                                if (item.Reason_ID == Model.CoronerReferralReasonID)
                                                {
                                                <option selected value="@item.Reason_ID">@item.ReasonName</option>
                                                }
                                                else
                                                {
                                                <option value="@item.Reason_ID">@item.ReasonName</option>
                                                }
                                            }
                                        }*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row_bar checkbox-row">
                                    @if (Model.HospitalPostMortem == true)
                                    {
                                        <input type="checkbox" checked id="PostMortem" name="PostMortem"><span> Hospital post-mortem </span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="PostMortem" name="PostMortem"><span> Hospital post-mortem </span>
                                    }
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row_bar checkbox-row">
                                    Cause of Death
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row_bar checkbox-row mb-3">

                                    @Html.EditorFor(model => model.CauseOfDeath1, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row_bar checkbox-row mb-3">
                                    @Html.EditorFor(model => model.CauseOfDeath2, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row_bar checkbox-row mb-3">
                                    @Html.EditorFor(model => model.CauseOfDeath3, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row_bar checkbox-row mb-3">
                                    @Html.EditorFor(model => model.CauseOfDeath4, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row_bar checkbox-row">
                                    @if (Model.DeathCertificate == true)
                                    {
                                        <input type="checkbox" checked id="DeathCertificate" name="DeathCertificate"><span> Death Certificate Complete? </span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="DeathCertificate" name="DeathCertificate"><span> Death Certificate Complete? </span>
                                    }
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row_bar checkbox-row">
                                    @if (Model.CornerReferralComplete == true)
                                    {
                                        <input type="checkbox" checked id="CoronerReferralComplete" name="CoronerReferralComplete"><span> Coroner's referral Complete? </span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="CoronerReferralComplete" name="CoronerReferralComplete"><span> Coroner's referral Complete? </span>
                                    }
                                </div>
                            </div><br /><br />
                            <div class="col-md-12">
                                <div class="row_bar checkbox-row">
                                    <label class="label_part" for="defaultCheck1">(If Applicable) Coroner's decision </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row_bar checkbox-row">
                                    @if (Model.CoronerDecisionInquest == true)
                                    {
                                        <input type="checkbox" checked id="Inquest" name="Inquest"><span> Inquest </span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="Inquest" name="Inquest"><span> Inquest </span>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row_bar checkbox-row">
                                    @if (Model.CoronerDecisionPostMortem == true)
                                    {
                                        <input type="checkbox" checked id="Post-Mortem" name="Post-Mortem"><span> Post-Mortem </span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="Post-Mortem" name="Post-Mortem"><span> Post-Mortem </span>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row_bar checkbox-row">
                                    @if (Model.CoronerDecision100A == true)
                                    {
                                        <input type="checkbox" checked id="100A" name="100A"><span> 100 A </span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="100A" name="100A"><span> 100 A </span>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row_bar checkbox-row">
                                    @if (Model.CoronerDecisionGPissue == true)
                                    {
                                        <input type="checkbox" checked id="GPIssue" name="GPIssue"><span> GP Issue </span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" checked id="100A" name="100A"><span> 100 A </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <button id="activate-prev-1" name="BtnPrevious" class="btn btn-primary btn-lg">Previous</button>
                    <button id="activate-step-2" name="BtnNext" class="btn btn-primary btn-lg">Save & Next</button>
                </div>
                @*</form>*@
            </div>
        }
    </div>
</div>
<br />
<br />
@*<div class="pull-right">
        <button class="btn btn-primary btn-lg" id="btnClose3">Close</button>
    </div>*@
<div class="modal fade" id="modelClose3">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Messsage</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-section" style="text-align:left">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row_bar">
                                <div>Doy you want to Save Record ?</div>
                            </div>
                        </div>
                        <br />
                        <br />

                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary btn-block" id="btnClose3Yes">Yes</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary btn-block" id="btnModelClose3" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>*@

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "post",
            url: "/Home/GetReferralReasons",
            data: { groupid: $('#ddlCoronerReferralGrp').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var district = "<select id='ddlCoronerReferral'>";
                district = district + '<option value="">--Select Reason--</option>';
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Reason_ID == $('#reasonid').val())
                        district = district + '<option selected value=' + data[i].Reason_ID + '>' + data[i].ReasonName + '</option>';
                    else
                        district = district + '<option value=' + data[i].Reason_ID + '>' + data[i].ReasonName + '</option>';
                }
                district = district + '</select>';
                $('#ddlCoronerReferral').html(district);
            }
        });
        $("#btnClose3").click(function () {
            $("#modelClose3").modal();
        });
        $('#ddlCoronerReferralGrp').change(function () {
            $.ajax({
                type: "post",
                url: "/Home/GetReferralReasons",
                data: { groupid: $('#ddlCoronerReferralGrp').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var district = "<select id='ddlCoronerReferral'>";
                    district = district + '<option value="">--Select Reason--</option>';
                    //alert(data[i].Value + ',' + data[i].Text);
                    for (var i = 0; i < data.length; i++) {
                            district = district + '<option value=' + data[i].Reason_ID + '>' + data[i].ReasonName + '</option>';
                    }
                    district = district + '</select>';
                    $('#ddlCoronerReferral').html(district);
                }
            });
        });  
    });
</script>
<script type="text/javascript">
$(function () {

     $("#btnModelClose3").click(function(){
window.location.href = "@Url.Action("MortalityReview", "Home")";
    });

});
</script>


